
/* index.html */

:root{
    --secondary-title-color: #2E2F42;
    --main-subtitle-color:  #2E2F42;
    --main-text-color:  #434455;
    --secondary-font: 'Raleway', san-serif;
    --accent-color:#404BBF;
    --main-background: #FFFFFF;
    --transition-duration: 250ms;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body{
    background-color: --main-background;
    font-family: "Roboto", sans-serif;
    color:var(--main-subtitle-color);
    margin: 0;
}

.list{
list-style: none;
padding: 0;
margin: 0;

}
.link{
    text-decoration: none;
}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,h2,h3,h4,p,ul {
margin:0;}

img{
    display:block;
    max-width:100%;
    height: auto;
} 
    /* header */
.header{
    border-bottom:1px solid #E7E9FC;
    
 
}
.header-logo {
    color: inherit;
    font-family: var(--secondary-font);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        padding: 24px 0;
    
}
.header-partlogo {
 color: #4D5AE5;   
}

.header-first {
    display: flex;

}

.header-item:not(:last-child) {
    margin-right: 40px;

}

.header-list {
    display: flex;

}

.header-address:not(:last-child) {
    margin-right: 40px;
  
}
 
.nav-flex {
    display: flex;
   
}

.header-flex{
    display: flex;
}
 
address {
margin-left: auto;
}

   
.header-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: inherit;
        padding: 24px 0;
        display: block;
        position:relative;
        transition: color var(--transition-duration) var(--transition-timing);
}
.header-link.active{
    color:var(--accent-color);
}

.header-link.active::after{
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color:var(--accent-color);
    position:absolute;
    left: 0;
    bottom: 0;

}

.header-link:hover,
.header-link:focus {
    color:var(--accent-color);
}

.header-mail {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--main-text-color);
        display: block;
        padding: 24px 0;
        transition: color var(--transition-duration) var(--transition-timing);
}
.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.header-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding: 24px 0;
    display: block;
    transition: color var(--transition-duration) var(--transition-timing);
}

.header-tel:hover,
.header-tel:focus{
    color:var(--accent-color);
}
 
    /* Section Hero */

.hero {
    background-color: #2E2F42; 
    padding: 188px 0;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin:0 auto; 

}

.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button-hero {
    font-family:inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding: 16px 32px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color var(--transition-duration) var(--transition-timing);
   
    
}

 .button-hero:hover,
 .button-hero:focus {
     background-color: var(--accent-color);
 }

 

    /* Section about */

.about{
    padding: 120px 0;
}

.about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

.about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
    color:var(--main-text-color);
}

.about-list{
    display:flex;

}
 .about-item:not(:last-child) {
     margin-right: 24px;}

.about-item::before{
    content: '';
    display: block; 
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-antenna::before{
    background-image: url(../images/antenna.svg);
    background-size: 64px;
}
.icon-clock::before {
    background-image: url(../images/clock.svg);
    background-size: 64px;
}
.icon-diagramm::before {
    background-image: url(../images/diagram.svg);
    background-size: 64px;
}
.icon-astronaut::before{
    background-image: url(../images/astronaut.svg);
    background-size: 64px;
}
    /* Section activity */

.activity {
padding-bottom: 120px;

}
.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;   
    margin-bottom: 72px;
}
.activity-list {
    display: flex;
}
.activity-item:not(:last-child) {
    margin-right: 24px;
}

    /* Section team */

        .team {
            background-color: #F4F4FD;
            padding: 120px 0;
        }
    
        .team-title { 
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            margin-bottom: 72px;
            }
    
        .team-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
        }
    
        .team-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.02em;        
            color:var(--main-text-color);
            margin-bottom: 8px;
        }

        .team-list{
            display:flex;
        }
        .team-item{
             box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
             border-radius: 0px 0px 4px 4px;
        }
        .team-item:not(:last-child) {
            margin-right: 24px;}

        .team-item > .part-card {
            padding: 32px 16px;
            background-color: #FFFFFF;
            }
            
        .part-card-list{
            display: flex;
        }
        .part-card-item{
            height: 40px;
            width: 40px;
        }
        .part-card-item:not(:last-child){
            margin-right: 24px;
        }
        .part-card-link{
            display:inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #4D5AE5;
            padding:12px 12px;
            color:#FFFFFF;
            transition: background-color var(--transition-duration) var(--transition-timing);
        }

        .part-card-link:hover, .part-card-link:focus{
            background-color:#404BBF;
        }
        .part-card-icon{
         fill: currentColor;
        }

        /* Section Customers */

        .customers{
            padding:120px 0 130px;
        }
        .customers-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            margin-bottom: 72px;
        }
        .customers-list{
            display:flex;
        }
        .customers-item{
            width:  168px;
            height: 88px;
        }

        .customers-item:not(:last-child){
            margin-right: 24px;
        }

        .customers-link{
            display:inline-block;
            max-width: 100%;
            max-height: 100%;
            padding: 16px 32px;
            border: 1px solid #8E8F99;
            border-radius: 4px;
            color:#8e8f99;
            transition: color var(--transition-duration) var(--transition-timing), border var(--transition-duration) var(--transition-timing);
        }
        .customers-link:hover, .customers-link:focus{
            border: 1px solid #404BBF;
            color:#404BBF;
           
        }

        
        .customers-icon{
            width: 104px;
            height: 56px;
            fill:currentColor;
          
        }
          

        /* Footer */

        .footer {
            background-color: #2E2F42;
            padding: 100px 0;
                }
                
        
        .footer-logo {
            font-family: var(--secondary-font);
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.16;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #F4F4FD;
            margin-bottom: 16px;
                }
        
        .footer-partlogo {
        color: #4D5AE5;
                }
        
        .footer-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;    
            letter-spacing: 0.02em;
            color: #E7E9FC;
            display: inline-block;
            width:264px;
        }

        .footer-subtitle{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            margin-bottom: 16px;
        }

        .footer-constraction{
            display:flex;
        }

        .footer-first-part{
            margin-right: 120px;
        }
        
        .footer-list {
            display: flex;}

        .footer-item {
            height: 40px;
            width: 40px;
        }

        .footer-item:not(:last-child){
            margin-right: 16px;
        }
            
        .footer-link {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #FFFFFF1A;
            padding: 8px 8px;
            color: #FFFFFF;
            transition: background-color var(--transition-duration) var(--transition-timing);
        }

        .footer-link:hover,
        .footer-link:focus {
            background-color: #31D0AA;}
            
        .footer-icon {
            fill: currentColor;
                 }

    /* Portfolio */
    
    .portfolio {
        padding: 96px 0 120px;
    }

        .portfolio-button{
            padding: 12px 24px;
            font-family:inherit;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            color: #4D5AE5;
            background: #F4F4FD;
            border: 1px solid #E7E9FC;
            border-radius: 4px;
            cursor: pointer;
            transition: color var(--transition-duration) var(--transition-timing), 
            background-color var(--transition-duration) var(--transition-timing), 
            border var(--transition-duration) var(--transition-timing),
            box-shadow var(--transition-duration) var(--transition-timing);
                }
        .portfolio-button:hover,
        .portfolio-button:focus {
            color: #FFFFFF;
            background-color:var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border: 1px solid var(--accent-color);
                }

        .portfolio-subtitle{
            color:var(--main-subtitle-color);
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
                }
        .portfolio-text{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--main-text-color);
                }
        .portfolio-link{
            display: block;
            transition: box-shadow var(--transition-duration) var(--transition-timing);
            
        }
        .portfolio-link:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
        
        }

        .portfolio-list-btn{
            display:flex;
            padding-left: 0;
            margin-bottom: 72px;
            justify-content: center;
            
        }

       
        .portfolio-item-btn:not(:last-child) {
            margin-right: 24px;

        }
 
        .portfolio-list{
            display: flex;
            flex-wrap: wrap;
        
        }
        
        .portfolio-item {
           width: 360px; 
           margin-right: 24px;  
           margin-bottom: 48px;
          
        }
        .portfolio-item:nth-child(3n){
            margin-right: 0; }

        .portfolio-item:nth-last-child(-n + 3) {
            margin-bottom: 0;
                }

                
.portfolio-link > .part-card {
            padding:32px 16px; 
            border-bottom: 1px solid #E7E9FC;
            border-left: 1px solid #E7E9FC;
            border-right: 1px solid #E7E9FC;


        }
        .cardoverlay{
        position: relative; 
        overflow: hidden;
       }
        .cardoverlay::before{
        content: '';
        display: inline-block;
        position:absolute;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        opacity:0;
        transform: translateY(100%); 
        transition: transform var(--transition-duration) var(--transition-timing);
        }
        

        .nonvisieble{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        position: absolute;
        width: 296px;
        top: 40px; 
        left:50%;
        transform: translateX(-50%);
        opacity: 0;
       }
        .portfolio-link:hover .nonvisieble {
            opacity:1;
        }
        .portfolio-link:focus .nonvisieble {
            opacity: 1;
        }
        .portfolio-link:hover .cardoverlay::before{
            opacity:1;
            transform: translateY(0);
        }
        .portfolio-link:focus .cardoverlay::before {
            opacity: 1;
            transform: translateY(0);
                }

        /* Modalka */
        .backdrop{
            position: fixed;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: rgba(46, 47, 66, 0.4);
            opacity: 1;
            transition: opacity var(--transition-duration) var(--transition-timing);

        }
        .backdrop.is-hidden{
            opacity: 0;
            pointer-events: none;
        }

        .backdrop.is-hidden .modal{
            transform: translate(-50%, -50%) scale(0.01);

        }
        .modal{
            position: absolute;
            width: 408px;
            height: 576px;
            left: 50%;
            top: 50%; 
            transform: translate(-50%, -50%) scale(1); 
            background: #FCFCFC;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition: transform var(--transition-duration) var(--transition-timing);
        }
        .modal-bottom{
            position: absolute;
            right:24px;
            top:24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #E7E9FC;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-image: url(../images/modal-button.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 8px;
        }